name: Documentation Build Check

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    # strategy:
    #   matrix:
    #     python-version: [3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python -c "import sys; print(sys.version)"
        python -m pip install --upgrade pip setuptools wheel
        pip install -r requirements.txt


    - name: Build docs
      run: mkdocs build
